:root {
    --bg-color: #333;
    --bgl-color:rgb(77, 77, 77);
    --ll-color:rgb(255, 227, 237);
    --l-color: #f6d9e3;
    --lm-color: #EBB5C8;
    --m-color: #E395B1;
    --md-color: #CF7092;
    --d-color: #B54B70;
}

body {
    background-color: var(--bg-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.main-content {
    width: 100%;
    height: 100%;
}

.barra-navegacion {
    display: flex;
    align-items: center;
    list-style: none;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    width: 80%;
}

.barra-navegacion li{
    align-items: center;
    padding: 8px;
}

.barra-navegacion li a {
    display: flex;
    background-color: var(--ll-color);
    border-radius: 40px;
    padding: 8px;
}

.barra-navegacion li a:hover {
    background-color: var(--lm-color);
}

#inicio{
    height: 35px;
    width: auto;
}


#barra-buscar{
    width: 100%;
}

.buscar-container {
    display: flex;
    align-items: center;
    width: 100%;
}

input[type=buscar] {
  width: 100%;
  background-color: var(--ll-color);
  border: 2px solid var(--lm-color);
  border-radius: 40px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
}

input[type=buscar]:focus {
    border-color: var(--d-color);
}

.buscarbutton{
    background-color: var(--ll-color);
    border: none;
    border-radius:40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: -45px;
}

.buscarbutton:active{
    background-color: var(--lm-color);
}

.buscarbutton img{
    width: 25px;
    height: 25px;
}

.barra-navegacion #carrito{
    border-radius: 40px;
    justify-content: space-between;
}

.carrito img {
    width: auto;
    height: auto;
}

#barra-buscar-hidden{
    display: none;
}

.barra-opciones{
    justify-content: space-around;
    display: flex;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.filtercontainer{
    display: flex;
    list-style: none;
    margin: 10px;
    margin-top: 10px;
    background-color: var(--l-color);
    border-radius: 4px;
    width: 30%;
}

.filtertable{
    display: flex;
}

.mostrarpagcontainer{
    display: flex;
    list-style: none;
    margin: 10px;
    margin-top: 25px;
    padding-right: 10px;
}

.pagtext{
    color: var(--lm-color);
    margin: 0;
    margin-top:14px;
    white-space: nowrap;
}

.pagbutton{
    border-radius: 2px;
    background-color: var(--md-color);
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    margin-right: 10%;
}

.dropdownmenu1 {
    position: relative;
    display: inline-block;
    margin: 5px;
    margin-top: 10px;
}

.dropdowncontent1 {
    display: none;
    position:absolute; 
    background-color: rgb(255, 255, 255);
    min-width: 35px;
    box-shadow: 0px 2px 2px rgb(183, 183, 183);
    border-radius:2px;
    z-index: 1000; 
    font-size: 14px;
    margin-top: 10px;
}

.dropdowncontent1 a {
    color: var(--d-color);
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

.dropdown-checkbox1 {
    display: none;
}

.dropdowncontent1 a:hover {
    background-color: var(--lm-color);
}

.dropdownmenu1:hover .pagbutton {
    background-color: var(--m-color);
}

.dropdown-checkbox1:checked + .pagbutton {
    background-color: var(--m-color); 
}

.dropdown-checkbox1:checked + .pagbutton + .dropdowncontent1 {
    display: block;
}

.ordercontainer{
    display: flex;
    list-style: none;
    margin: 10px;
    margin-top: 25px;
}

.ordertext{
    color: var(--lm-color);
    margin: 0;
    margin-top:14px;
    white-space: nowrap;
}

.orderbutton{
    border-radius: 2px;
    background-color: var(--md-color);
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    margin-right: 10%;
}

.dropdownmenu2 {
    position: relative;
    display: inline-block;
    margin: 5px;
    margin-top: 10px;
}

.dropdowncontent2 {
    display: none;
    position:absolute; 
    background-color: rgb(255, 255, 255);
    min-width: 130px;
    box-shadow: 0px 2px 2px rgb(183, 183, 183);
    border-radius:2px;
    z-index: 1000; 
    font-size: 14px;
    margin-top: 10px;
}

.dropdowncontent2 a {
    color: var(--d-color);
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

.dropdown-checkbox2 {
    display: none;
}

.dropdowncontent2 a:hover {
    background-color: var(--lm-color);
}

.dropdownmenu2:hover .orderbutton {
    background-color: var(--m-color);
}

.dropdown-checkbox2:checked + .orderbutton {
    background-color: var(--m-color); 
}

.dropdown-checkbox2:checked + .orderbutton + .dropdowncontent2 {
    display: block;
}

.preciofiltercontainer{
    display: flex;
    list-style: none;
    margin: 10px;
    margin-top: 25px;
}


.dropdownmenu3 {
    position: relative;
    display: inline-block;
    margin: 5px;
    margin-top: 10px;
}

.dropdowncontent3 {
    display: none;
    position:absolute; 
    background-color: rgb(255, 255, 255);
    min-width: 35px;
    box-shadow: 0px 2px 2px rgb(183, 183, 183);
    border-radius:2px;
    z-index: 1000; 
    font-size: 14px;
    margin-top: 10px;
}

.dropdowncontent3 a {
    color: var(--d-color);
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}
.dropdowncontent3 a input {
    margin: 2px;
    max-width: 40px;
    border-color: var(--lm-color);
    outline: none;
}

input[type="number"]:focus {
    border-color: var(--md-color);
}

.dropdown-checkbox3 {
    display: none;
}

.dropdowncontent3 a:hover {
    background-color: var(--lm-color);
}

.dropdownmenu3:hover .pagbutton {
    background-color: var(--m-color);
}

.dropdown-checkbox3:checked + .pagbutton {
    background-color: var(--m-color); 
}

.dropdown-checkbox3:checked + .pagbutton + .dropdowncontent3 {
    display: block;
}

.idiomafiltercontainer{
    display: flex;
    list-style: none;
    margin: 10px;
    margin-top: 25px;
}

.dropdownmenu4 {
    position: relative;
    display: inline-block;
    margin: 5px;
    margin-top: 10px;
}

.dropdowncontent4 {
    display: none;
    position:absolute; 
    background-color: rgb(255, 255, 255);
    min-width: 35px;
    box-shadow: 0px 2px 2px rgb(183, 183, 183);
    border-radius:2px;
    z-index: 1000; 
    font-size: 14px;
    margin-top: 10px;
}

.dropdowncontent4 div{
    color: var(--d-color);
    padding-right: 5px;
    text-decoration: none;
    display: flex;
}

.dropdown-checkbox4 {
    display: none;
}

.dropdowncontent4 div:hover {
    background-color: var(--lm-color);
}

.dropdownmenu4:hover .pagbutton {
    background-color: var(--m-color);
}

.dropdown-checkbox4:checked + .pagbutton {
    background-color: var(--m-color); 
}

.dropdown-checkbox4:checked + .pagbutton + .dropdowncontent4 {
    display: block;
}

.generofiltercontainer{
    display: flex;
    list-style: none;
    margin: 10px;
    margin-top: 25px;
}

.dropdownmenu5 {
    position: relative;
    display: inline-block;
    margin: 5px;
    margin-top: 10px;
}

.dropdowncontent5 {
    display: none;
    position:absolute; 
    background-color: rgb(255, 255, 255);
    min-width: 35px;
    box-shadow: 0px 2px 2px rgb(183, 183, 183);
    border-radius:2px;
    z-index: 1000; 
    font-size: 14px;
    margin-top: 10px;
}

.dropdowncontent5 div {
    color: var(--d-color);
    padding-right: 10px;
    text-decoration: none;
    display: flex;
}

.dropdown-checkbox5 {
    display: none;
}

.dropdowncontent5 div:hover {
    background-color: var(--lm-color);
}

.dropdownmenu5:hover .pagbutton {
    background-color: var(--m-color);
}

.dropdown-checkbox5:checked + .pagbutton {
    background-color: var(--m-color); 
}

.dropdown-checkbox5:checked + .pagbutton + .dropdowncontent5 {
    display: block;
}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 20px;
    background-color: var(--bgl-color);
    border-radius: 20px;
}

.book {
    background-color: #fff2f6;
    height: 335px;
    width: 220px;
    margin: 2%;
    border-radius: 4px;
    box-shadow: 2px 2px 5px;
    transition: transform 0.6s, background-color 0.6s;
    overflow: hidden;
    position: relative;
}

.book:hover {
    transform: scale(1.02);
    .buttoncarro{
        display: block;
    }
}

.portada {
    margin: 5%;
    margin-bottom: 3%;
    background-image: url('https://placedog.net/240/195');
    background-position: center;
    background-size: cover;
    width: 195px;
    height: 240px;
    box-shadow: 2px 2px 3px;
    border-radius: 4px;
}

.titulo {
    margin: 2px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    color: var(--md-color);
    font-size: small;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    max-height: calc(1.2em * 2); 
    height:calc(1.2em * 2) ;
}

.buttoncarro{
    padding-top: 5px;
    display:none;
    background-color: var(--l-color);
    width: 195px;
    margin-left: 10px;
    height: 40px;
    border-radius: 4px;
    border: var(--lm-color) 1px solid ;
    outline: none;
    cursor: pointer;
    box-shadow: 0 4px 6px --bg-color;
    transition: background-color 0.3s, box-shadow 0.3s; 
}

.buttoncarro:hover {
    background-color: var(--lm-color); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.buttoncarro:active {
    background-color: var(--m-color); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.precio {
    padding: 0;
    text-align: center;
    margin: 0;
    margin-right: 12px;
    font-size: 23px;
    color: rgb(37, 37, 37);
    font-weight: bold;
}

.barra-nextpage{
    margin-left: 11%;
    margin-right: 11%;
    padding:0;
    display: flex;
    justify-content: flex-end;
}

.buttonnextpage{
    border-color:none;
    background-color: var(--bgl-color);
    color: var(--ll-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    padding: 7px;
}

@media only screen and (max-width: 700px){

    body{
        background-color: var(--l-color);
    }

    #barra-buscar{
        display: none;
    }

    .barra-navegacion li{
        align-items: center;
        padding-left: 2%;
        padding-right: 2%;
    }

    .barra-navegacion {
        width: 100%;
        justify-content:space-between;
        padding-left: 0;
        padding-right: 0;
    }
    
    #barra-buscar-hidden{
        display: block;
        margin: 10px;
    }

    .barra-opciones{
        width: 100%;
        padding: 0;
        margin-top: 0;
    }

    .barra-opciones div{
        margin:3px;
        margin-top: 10px;
    }

    .filterbutton{
        font-size: small;
    }

    .dropdowncontent0 {
        font-size: small;
    }

    .pagtext{
        display: none;
    }

    .pagbutton{
        font-size: small;
    }

    .dropdowncontent1 {
        font-size: small;
    }
    .ordertext{
        color: var(--lm-color);
        margin: 0;
        margin-top:14px;
        white-space: nowrap;
        font-size: small;
    }

    .orderbutton{
        font-size: small;
    }

    .dropdowncontent2 {
        font-size: small;
    }

    .catalogo{
        background-color: var(--ll-color);
        margin-left: 1%;
        margin-right: 1%;
    }

    .book{
        margin: 2%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1150px){
    
    body{
        background-color: var(--m-color);
    }

    #inicio{
        height: 30px;
        width: auto;
    }

    .barra-navegacion {
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
    }

    .catalogo {
        background-color: var(--lm-color);
        margin-left: 2%;
        margin-right: 2%;
    }

    .book{
        margin: 2%;
    }

}
